<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
</head>
<body>

<h2>Mashup Generator</h2>

<form action="/submit" method="POST">

Singer Name:
<input type="text" name="singer" required><br><br>

Number of Videos:
<input type="number" name="num" required><br><br>

Duration of each video:
<input type="number" name="duration" required><br><br>

Email ID:
<input type="email" name="email" required><br><br>

<input type="submit" value="Submit">

</form>

</body>
</html>